/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/target/
/tmp/
/vendor/bundle/
/.cache/

# rspec failure tracking
.rspec_status

*.so
*.pcap

# fuzz
crash-*
leak-*

# clangd
compile_commands.json
